/* Variables CSS de colores */
:root {
    --primary-color: #028090; /* Color primario */
    --primary-color-dark: #114B5F; /* Color primario oscuro */
    --secundary-color: #F45B69; /* Color secundario */
    --secondary-color-dark: #C33C54; /* Color secundario oscuro */
    --gray-color: #ccc; /* Color gris claro */
    --gray-color-dark: #333; /* Color gris oscuro */
}