/* Reseteo de márgenes y padding del cuerpo */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat; /* Evita la repetición del fondo */
    background-attachment: fixed; /* Fija el fondo en su posición */
}

/* Contenedor principal centrado */
#container {
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
}

/* Estilos para el texto con clase 'text-secundary' */
.text-secundary {
    color: var(--secundary-color); /* Color secundario */
}

/* Eliminación de estilos de lista en general */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos generales para enlaces */
a {
    color: var(--primary-color); /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    transition: all 0.3s; /* Transición al hacer hover */
}

/* Efecto hover para enlaces */
a:hover {
    color: var(--primary-color-dark); /* Cambia a color primario oscuro al hacer hover */
}