/* Estilos para el contenido principal */
#content {
    float: left; /* Flota a la izquierda */
    width: calc(100% - 300px); /* Resta el ancho del aside */
    margin-top: 40px; /* Espaciado superior */
    padding: 0 20px; /* Padding horizontal */
    box-sizing: border-box;
}

/* Estilos para el título principal en el contenido */
#content h1 {
    margin: 0;
    font-size: 30px; /* Tamaño de fuente */
    color: var(--secundary-color); /* Color secundario */
    text-transform: uppercase;
    text-shadow: 2px 2px 5px var(--gray-color); /* Sombra gris */
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para los artículos dentro del contenido */
#content article {
    background-color: white; /* Fondo blanco */
    padding: 40px;
    margin-bottom: 30px; /* Espaciado inferior */
    border: solid 1px var(--gray-color); /* Borde gris claro */
    box-shadow: 2px 2px 5px var(--gray-color); /* Sombra gris */
}

/* Estilos para los títulos dentro de los artículos */
#content article h2 {
    margin: 0;
    color: var(--secundary-color); /* Color secundario */
}

/* Estilos para enlaces dentro de artículos */
#content article a {
    font-size: 20px;
    float: right; /* Ubicación flotante a la derecha */
}

/* Estilos de la paginación */
.pagination {
    float: right; /* Flotada a la derecha */
}

/* Estilos de elementos de la paginación */
.pagination li {
    display: inline-block; /* Elementos en línea */
}

/* Estilos para enlaces de la paginación */
.pagination li a {
    padding: 5px 10px;
    background-color: white; /* Fondo blanco */
    border: solid 1px var(--gray-color); /* Borde gris claro */
}

/* Efecto hover para la paginación */
.pagination li:hover a {
    color: white;
    background-color: var(--primary-color); /* Fondo color primario */
    border: solid 1px var(--primary-color-dark); /* Borde primario oscuro */
}

/* Media query para pantallas pequeñas */
@media(max-width: 700px) {
    #content {
        width: 100%; /* El contenido ocupa el 100% del ancho */
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #0d6a5f;
}

input[type="text"], input[type="email"] {
    border: none;
    border-bottom: 2px solid #0d6a5f;
    background: transparent;
    width: 60%;
    padding: 5px;
    font-size: 16px;
    color: #0d6a5f;
}

table {
    width: 20px;
    border-collapse: collapse;
    background: linear-gradient(to bottom, #6de1b6, #13b080);
    color: white;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4cc79a;
}

td {
    background-color: rgba(255, 255, 255, 0.1);
}

.boton {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    color: #0d6a5f;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #0d6a5f;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d6a5f;
    color: white;
}