/* Estilos para el pie de página (footer) */
footer {
    float: left; /* Flota el footer a la izquierda */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    background-color: var(--gray-color-dark); /* Fondo de color gris oscuro */
    padding: 10px; /* Espaciado interior */
    box-sizing: border-box; /* Incluye padding y border dentro del ancho total */
    text-align: center; /* Centra el texto dentro del footer */
    color: white; /* Color del texto blanco */
    font-size: 14px; /* Tamaño de fuente del texto */
    margin-top: 40px; /* Espaciado superior, separando del contenido principal */
}

/* Estilos para enlaces dentro del footer */
footer a {
    color: white; /* Color de los enlaces en blanco */
}

/* Efecto hover para enlaces en el footer */
footer a:hover {
    color: var(--gray-color); /* Cambia el color del enlace a gris claro al hacer hover */
}

/* Estilos para los divs dentro del footer */
footer div {
    margin-bottom: 10px; /* Espaciado inferior entre divs */
}
